<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center"><img src="assets/images/negocio/grocery.png" class="img-lg"> Negocios</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group" *ngFor="let negocio of negocios; let i = index">
                    <li class="list-group-item" *ngIf="negocio.activo != false">
                        <div class="card" style="height: 100px !important">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center mr-5">
                                            <img src="assets/images/negocio/grocery.png" class="img-xs">
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Nombre: </h3>
                                            <span>{{negocio.nombre}}</span>
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Facebook: </h3>
                                            <span>{{negocio.facebook}}</span>
                                        </div>


                                        <div class="media-body text-left" *ngIf="usuario.role === 'super'">
                                            <button type="button" (click)="eliminarItem(negocio)" class="btn btn-dark btn-min-width mr-1 mb-1">{{usuario.role}} ||<i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="media-body text-left" *ngIf="usuario._id == negocio.admin._id">
                                            <button type="button" (click)="eliminarItem(negocio)" class="btn btn-dark btn-min-width mr-1 mb-1">{{negocio.admin.role}} ||<i class="fa fa-trash"></i></button>
                                        </div>

                                        <!-- Like -->
                                        <div *ngFor="let like of usuario.likes">
                                            <div *ngFor="let likesuser of negocio.likesUser">
                                                <div *ngIf="negocio._id == like && usuario._id == likesuser">
                                                    <button type="button" (click)="dislike(negocio._id)" class="btn btn-icon btn-pure blue mb-1">
                                                        <div>
                                                            <i class="fa fa-thumbs-up  sizeIcon"></i> <br>
                                                        </div>
                                                        <p class="" style="font-weight: 600; font-size: 0.8rem" >{{negocio.likesUser.length}}</p>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- VERIFICA QUE EL USUARIO ESTE EN likes DEL NEGOCIO -->
                                        <div *ngIf="negocio.likesUser.length">
                                            <!-- El negocio tiene favoritos -->
                                            <div *ngIf="(negocio.likesUser | favorito: usuario._id).length === 0 && (usuario._id != negocio.admin._id)">
                                                <!-- El usuario no está en favoritesUser del negocio desde el pipe -->
                                                <button type="button" (click)="like(negocio._id)" class="btn btn-icon btn-pure blue mb-1">
                                                    <div>
                                                        <i class="fa fa-thumbs-o-up  sizeIcon"></i> <br>
                                                    </div>
                                                        <p class="" style="font-weight: 600; font-size: 0.8rem" >{{negocio.likesUser.length}}</p>
                                                </button>
                                            </div>
                                            <div *ngIf="(negocio.likesUser | favorito: usuario._id).length != 0">
                                                <!-- El usuario Está en favoritesUser del negocio desde el pipe -->
                                            </div>
                                            <!-- {{usuario.favorites | favorito: negocio._id}} -->
                                        </div>

                                        <div class="media-body text-left" *ngIf="!negocio.likesUser.length  && (usuario._id != negocio.admin._id)">
                                            <button type="button" (click)="like(negocio._id)" class="btn btn-icon btn-pure blue mb-1">
                                                <div>
                                                    <i class="fa fa-thumbs-o-up  sizeIcon"></i> <br>
                                                </div>
                                                    <p class="" style="font-weight: 600; font-size: 0.8rem" >{{negocio.likesUser.length}}</p>
                                            </button>
                                        </div>



                                        <!-- Favoritos -->
                                        <div *ngFor="let favorite of usuario.favorites">
                                            <div *ngFor="let favoritosuser of negocio.favoritesUser">
                                                <div *ngIf="negocio._id == favorite && usuario._id == favoritosuser">
                                                    <!-- Está en favoritos del usuario -->
                                                    <button type="button" (click)="quitFavorito(negocio._id)" class="btn btn-icon btn-success mr-1">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- VERIFICA QUE EL USUARIO ESTE EN FAVORITESUSER DEL NEGOCIO -->
                                        <div *ngIf="negocio.favoritesUser.length">
                                            <!-- El negocio tiene favoritos -->
                                            <div *ngIf="(negocio.favoritesUser | favorito: usuario._id).length === 0 && (usuario._id != negocio.admin._id)">
                                                <!-- El usuario no está en favoritesUser del negocio desde el pipe -->
                                                <button type="button" (click)="agregarFavorito(negocio, i)" class="btn btn-icon btn-pink mr-1">
                                                    <i class="fa fa-bookmark"></i>
                                                </button>
                                            </div>
                                            <div *ngIf="(negocio.favoritesUser | favorito: usuario._id).length != 0">
                                                <!-- El usuario Está en favoritesUser del negocio desde el pipe -->
                                            </div>
                                            <!-- {{usuario.favorites | favorito: negocio._id}} -->
                                        </div>

                                        <div *ngIf="!negocio.favoritesUser.length  && (usuario._id != negocio.admin._id)">
                                            <button type="button" (click)="agregarFavorito(negocio, i)" class="btn btn-icon btn-pink mr-1">
                                                <i class="fa fa-bookmark"></i>
                                             </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
