<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center"><img src="assets/images/negocio/grocery.png" class="img-lg"> Negocios</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="card-text">
               <ul class="list-group" *ngFor="let negocio of negocios; let i = index">
                    <li class="list-group-item" *ngIf="negocio.activo != false">
                        <div class="card" style="height: 190px !important">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center mr-5" >
                                            <img src="assets/images/negocio/grocery.png" class="img-xs">
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Nombre: </h3>
                                            <span>{{negocio.nombre}}</span>
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Facebook: </h3>
                                            <span>{{negocio.facebook}}</span>
                                        </div>


                                            <div class="media-body text-left" *ngIf="this.usuario.role === 'super'">
                                                <button type="button" (click)="eliminarItem(negocio)" class="btn btn-dark btn-min-width mr-1 mb-1">{{this.usuario.role}} <i class="fa fa-trash"></i></button>
                                            </div>
                                            <div class="media-body text-left" *ngIf="this.usuario._id == negocio.admin._id">
                                                <button type="button" (click)="eliminarItem(negocio)" class="btn btn-dark btn-min-width mr-1 mb-1">{{negocio.admin.role}} <i class="fa fa-trash"></i></button>
                                            </div>

                                                <div class="media-body text-left" *ngIf="this.usuario._id != negocio.favoritesUser">
                                                    <button type="button" (click)="agregarFavorito(negocio, i)" class="btn btn-icon btn-pink mr-1">
                                                        <i class="fa fa-bookmark"></i>
                                                    </button>
                                                </div>

                                        <div *ngFor="let favoritosuser of negocio.favoritesUser">
                                            {{favoritosuser}}
                                            <div class="media-body text-left" *ngIf="this.usuario._id == favoritosuser">
                                                <button type="button" (click)="quitFavorito(negocio._id)" class="btn btn-icon btn-success mr-1"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
