<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div *ngIf="!this.wsService.socketStatus" class="alert alert-danger" role="alert">
        Servidor fuera de linea
    </div>
    <div class="content-body">

      <section class="flexbox-container col-sm-12 col-xs-12">
        <div class="col-12 col-sm-12 col-xs-12 d-flex align-items-center">

            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img src="assets/images/logo/stack-logo-dark.png" alt="branding logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                  <span>Identificate</span>
                </h6>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-horizontal form-simple" name="form" [formGroup]="form"  (ngSubmit)="onSubmit()" novalidate>
                      <strong>Valores: {{form.value | json}}</strong>
                    <fieldset class="form-group position-relative has-icon-left mb-1">
                      <input type="email" formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid }" class="form-control form-control-lg" id="email" placeholder="Correo electrónico"
                      required>
                      <div class="form-control-position">
                        <i class="ft-mail"></i>
                      </div>
                      <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                        <div *ngIf="!!form.get('email').errors?.required">  <strong>El email es obligatorio</strong> </div>
                        <div *ngIf="!!form.get('email').errors?.email">  <strong>Este email no es valido</strong> </div>
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" formControlName="password" [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}" class="form-control form-control-lg" id="user-password" placeholder="Contraseña"
                      required>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                      <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                        <div *ngIf="!!form.get('password').errors.required">
                            <strong>La contraseña es obligatoria </strong>
                        </div>
                        <!-- <div *ngIf="!!form.get('password').errors.minlength">  <strong>La contraseña debe de tener minimo 6 caracteres </strong> </div> -->
                    </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block"><i class="ft-unlock"></i> Ingresar</button>
                    <br>

                  </form>
                    <!-- <a (click)="googleAuthHandler()" class="btn btn-block" style="background: #fff; color: rgba(0, 0, 0, 0.54); text-align: center; border: 2px solid #CDD2D4;">
                    <i class="fa fa-google mr-2 red"></i>  Acceder con google
                    </a> -->
                    <a href="http://serviciosmiahutlan.herokuapp.com/api/auth/google" class="btn btn-block" style="background: #fff; color: rgba(0, 0, 0, 0.54); text-align: center; border: 2px solid #CDD2D4;">
                        <i class="fa fa-google mr-2 red"></i>  Acceder con google
                    </a>
                </div>
                <p class="text-center">¿Eres nuevo? <a [routerLink]="['/registro']" class="card-link"> Registrate</a></p>
                <p class="text-center "> <a [routerLink]="['/reset']" class="card-link text-primary font-weight-bold"> He olvidado mi contraseña</a></p>
              </div>
            </div>

        </div>
      </section>
    </div>
  </div>
</div>
