<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center"><img src="assets/images/negocio/lace.png" class="img-lg"> Favoritos</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="card-text">
               <ul class="list-group">
                    <li class="list-group-item">
                        <div class="card" style="height: 60px !important" *ngFor="let item of favoritos">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center mr-5" >
                                            <img src="assets/images/negocio/grocery.png" class="img-xs">
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Nombre: </h3>
                                            <span>{{item.nombre}}</span>
                                        </div>
                                        <div class="media-body text-left">
                                            <h3>Facebook: </h3>
                                            <span>{{item.facebook}}</span>
                                        </div>
                                        <div class="media-body text-left" >
                                            <button type="button" (click)="this.todosNeg.quitFavorito(item._id)" class="btn btn-dark btn-min-width mr-1 mb-1">Quitar<i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



