<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border container boxed-layout">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" [routerLink]="['/inicio']">
                        <img class="brand-logo" alt="InfoMiahua" src="assets/images/logo/stack-logo-light.png">
                        <h2 class="brand-text">InfoMiahua</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none d-sm-block" [routerLink]="['/contactos']" data-toggle="dropdown">
                            <i class="ficon ft-phone"></i> Contáctanos </a>
                        <a class="nav-link d-sm-none" [routerLink]="['/contactos']" data-toggle="dropdown">
                            <i class="ficon ft-phone"></i> </a>
                    </li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon ft-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="Buscar servicio...">
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <!-- <li class="dropdown dropdown-notification nav-item">
                        <a [routerLink]="['/login']" class="nav-link nav-link-label" style="margin-top: -1px;" data-toggle="dropdown">
                            <a class="btn-grad btn-sm round"> Ingreso/Registro  </a>
                        </a>
                    </li> -->
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" data-toggle="dropdown">
                        </a>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i>
                          <span class="badge badge-pill badge-default badge-danger badge-default badge-up">5</span>
                      </a>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="avatar avatar-online">
                            <img src="../../../assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span>
                            <!-- <span class="user-name">{{nombreU}}</span>
                            <span class="user-name">nombre</span> -->
                            {{this.authService.usuario.nombre}}
                            {{this.authService.usuario._id}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" [routerLink]="['perfil']"><i class="ft-user"></i> Mi perfil</a>
                            <a class="dropdown-item" href="user-cards.html"><i class="ft-check-square"></i> Publicaciones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)='salir()'><i class="ft-power"></i> Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- <div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span>General</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right"
        data-original-title="General"></i>
      </li>
      <li class=" nav-item"><a href="index.html"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span><span class="badge badge badge-primary badge-pill float-right mr-2">3</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="dashboard-ecommerce.html">eCommerce</a>
          </li>
          <li><a class="menu-item" href="dashboard-analytics.html">Analytics</a>
          </li>
          <li><a class="menu-item" href="dashboard-fitness.html">Fitness</a>
          </li>
        </ul>
      </li>


      <li class=" nav-item"><a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">Starter kit</span><span class="badge badge badge-danger badge-pill float-right mr-2">New</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-1-column.html">1 column</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-2-columns.html">2 columns</a>
          </li>
          <li><a class="menu-item" href="#">Content Det. Sidebar</a>
            <ul class="menu-content">
              <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-content-detached-left-sidebar.html">Detached left sidebar</a>
              </li>
              <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-content-detached-left-sticky-sidebar.html">Detached sticky left sidebar</a>
              </li>
              <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-content-detached-right-sidebar.html">Detached right sidebar</a>
              </li>
              <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-content-detached-right-sticky-sidebar.html">Detached sticky right sidebar</a>
              </li>
            </ul>
          </li>
          <li class="navigation-divider"></li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-fixed-navbar.html">Fixed navbar</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-fixed-navigation.html">Fixed navigation</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-fixed-navbar-navigation.html">Fixed navbar &amp; navigation</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-fixed-navbar-footer.html">Fixed navbar &amp; footer</a>
          </li>
          <li class="navigation-divider"></li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-fixed.html">Fixed layout</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-boxed.html">Boxed layout</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-static.html">Static layout</a>
          </li>
          <li class="navigation-divider"></li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-light.html">Light layout</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-dark.html">Dark layout</a>
          </li>
          <li><a class="menu-item" href="../../../starter-kit/ltr/vertical-menu-template-light/layout-semi-dark.html">Semi dark layout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->
