<div class="app-content content">
		<div class="content-wrapper">
				<div class="content-header row">
				</div>
				<div class="content-body">
						<section class="flexbox-container">
								<div class="col-12 d-flex align-items-center justify-content-center">
										<div class="card border-grey border-lighten-3 px-2 py-2 m-0">
												<div class="card-header border-0">
												<div class="card-title text-center">
														<img src="assets/images/logo/stack-logo-dark.png" alt="branding logo">
												</div>
												<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
														<span>Bienvenido</span>
												</h6>
												</div>
												<div class="card-content">
														<div class="card-body">
																<form class="form-horizontal form-simple" name="form" [formGroup]="form" >
																<fieldset class="form-group position-relative has-icon-left mb-1">
																		<input type="correo" formControlName="correo" [ngClass]="{'is-invalid': form.get('correo').touched && form.get('correo').invalid }" class="form-control form-control-lg" id="correo" placeholder="Correo electrónico"
																		>
																		<div class="form-control-position">
																				<i class="ft-mail"></i>
																		</div>
																		<div class="invalid-feedback" *ngIf="form.get('correo').touched && form.get('correo').invalid">
                                      <div *ngIf="!!form.get('correo').errors?.required">  <strong>El correo es obligatorio</strong> </div>
                                      <div *ngIf="!!form.get('correo').errors?.email">  <strong>Este correo no es valido</strong> </div>
																		</div>
																</fieldset>
																<fieldset class="form-group position-relative has-icon-left">
																		<input type="password" formControlName="password" [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}" class="form-control form-control-lg" id="password" placeholder="Contraseña"
																		required>
																		<div class="form-control-position">
																		  <i class="fa fa-key"></i>
                                    </div>
                                    <div class="invalid-feedback">
                                        <div>  <strong>La contraseña es obligatoria </strong> </div>
                                    </div>
																</fieldset>
																<fieldset class="form-group position-relative has-icon-left">
																		<input type="password" formControlName="passwordConfirm" [ngClass]="{'is-invalid': form.get('passwordConfirm').touched && form.get('passwordConfirm').invalid}" class="form-control form-control-lg" id="password-password" placeholder="Confirma tu contraseña"
																		required>
																		<div class="form-control-position">
																		  <i class="fa fa-key"></i>
                                    </div>
                                    <div class="invalid-feedback">
                                        <div>  <strong>Confirma tu contraseña para continuar</strong> </div>
                                    </div>
																</fieldset>
																<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Registrar</button>
																</form>
														</div>
														<p class="text-center">Tengo una cuenta <a [routerLink]="['/login']" class="card-link"> Identificate</a></p>
												</div>
										</div>
								</div>
						</section>
				</div>
		</div>
</div>
