<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <!-- <div *ngIf="!this.wsService.socketStatus" class="alert alert-danger" role="alert">
        Servidor fuera de linea
    </div> -->
    <div class="content-body">

        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center">

                <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                    <img src="assets/images/logo/stack-logo-dark.png" alt="branding logo">
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>Recuperar contraseña</span>
                    </h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                    <form class="form-horizontal form-simple" name="form" [formGroup]="form"  (ngSubmit)="onSubmit()" novalidate>
                        <fieldset class="form-group position-relative has-icon-left mb-1">
                        <input type="email" formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid }" class="form-control form-control-lg" id="email" placeholder="Correo electrónico"
                        required>
                        <div class="form-control-position">
                            <i class="ft-mail"></i>
                        </div>
                        <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                            <div *ngIf="!!form.get('email').errors?.required">  <strong>El email es obligatorio</strong> </div>
                            <div *ngIf="!!form.get('email').errors?.email">  <strong>Este email no es valido</strong> </div>
                        </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-activity"></i> Aceptar</button>
                    </form>
                    </div>
                    <p class="text-center"><a [routerLink]="['/login']" class="card-link"> Regresar</a></p>

                </div>
                </div>

            </div>
        </section>
    </div>
  </div>
</div>
