<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div *ngIf="this.valor" class="alert alert-danger" role="alert">
        Las contraseñas no coinciden
    </div>
    <div class="content-body">

        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center">

                <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                    <img src="assets/images/logo/stack-logo-dark.png" alt="branding logo">
                    </div>
                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>Recuperar contraseña</span>
                    </h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form-horizontal form-simple" name="form" [formGroup]="form"  (ngSubmit)="onSubmit()" novalidate>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" formControlName="password" [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}" class="form-control form-control-lg" id="password" placeholder="Contraseña"
                                required>
                                <div class="form-control-position">
                                    <i class="fa fa-key"></i>
                                </div>
                                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                                    <div *ngIf="!!form.get('password').errors.required">
                                        <strong>La contraseña es obligatoria </strong>
                                    </div>
                                    <div *ngIf="!!form.get('password').errors.minlength">
                                        <strong>La contraseña debe de tener minimo 6 caracteres </strong>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" formControlName="passwordConfirm" [ngClass]="{'is-invalid': form.get('passwordConfirm').touched && form.get('passwordConfirm').invalid}" class="form-control form-control-lg" id="password-password" placeholder="Confirma tu contraseña"
                                required>
                                <div class="form-control-position">
                                    <i class="fa fa-key"></i>
                                </div>
                                <div *ngIf="form.get('passwordConfirm').touched && form.get('passwordConfirm').invalid" class="invalid-feedback">
                                    <div *ngIf="!!form.get('passwordConfirm').errors.required">
                                        <strong>Confirma tu contraseña para continuar</strong>
                                    </div>
                                </div>
                                        <!--   <div *ngIf="!!form.errors?.sonIguales && !form.pristine">  <strong>Las contraseñas no coinciden</strong> </div> -->
                            </fieldset>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-activity"></i> Aceptar</button>
                        </form>
                    </div>
                    <p class="text-center"><a [routerLink]="['/login']" class="card-link"> Regresar</a></p>

                </div>
                </div>

            </div>
        </section>
    </div>
  </div>
</div>
